.reason__container {
  text-align: center;
  padding: 0 1rem;
  margin-top: -2rem;
}
.service__container {
  padding: 0 1rem;
  margin-top: -2rem;
}

.reason__card {
  position: relative;
  background-color: hsl(var(--clr-white));
  border-radius: 16px;
  padding: 2rem 1.5rem;
  text-align: center;
  width: 100%;
  max-width: 320px;
  height: 280px;
  cursor: pointer;
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reason__card img {
  display: block;
  margin: 0 auto 1rem;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.reason__card h3 {
  font-size: 1rem;
  font-weight: 700;
  color: hsl(var(--clr-dark));
  transition: color 0.4s ease, transform 0.4s ease, top 0.4s ease, left 0.4s ease, text-align 0.4s ease;
  position: relative;
}

.reason__card p {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  font-size: 0.9rem;
  color: hsl(var(--clr-white));
  line-height: 1.5;
  opacity: 0;
  text-align: left; 
  transform: translate(-50%, -50%);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.reason__card:hover {
  background-color: #01823f;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.reason__card:hover img {
  opacity: 0;
  transform: translateY(-40px);
}

.reason__card:hover h3 {
  color: hsl(var(--clr-white));
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  text-align: left;
  transform: none;
  margin-left: 7px;
}

.reason__card:hover p {
  opacity: 1;
  transform: translate(-50%, -50%);
}

@media (max-width: 900px) {
  .reason__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .reason__cards {
    grid-template-columns: 1fr;
  }
}